<div th:insert="fragments/header.html :: header" xmlns="http://www.w3.org/1999/html"> </div>
<body>



<div th:if="${session.name != null}" th:utext="${'Logged in as <strong>' + session.name + '</strong>'}">Logged in</div>
<div th:if="${session.name != null}"><a href="/logout">Logout</a></div>
<div th:unless = "${session.name !=null}">
  <div class="container">
  <div class="jumbotron">
  <form action="/login" method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" aria-describedby="usName" placeholder="Enter your login username">
      <small id="usName" class="form-text text-muted">We'll never share your username with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
  </div>
</div>











</body>
</html>